.container {
    padding-top: 16px;
}

.brand-logo {
    margin-left: 16px;
    margin-right: 16px;
}

.loading-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
}

.collapsible-header {
    font-weight: bold;
}
